*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 5% auto;
  width: 750px;
  font-family: 'Lato', Arial, sans-serif;
}

.main-container {
  margin: 0px 17px;
  display: inline-block;
}

.col-1, .col-3 {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}

.col-2 {
  width: 560px;
  display: inline-block;
}

.row-1, .row-3 {
  height: 35px;
}

.row-2 {
  height: 560px;
  margin: 5px 0px;
}

header {
  height: 30px;
  text-align: center;
  font-size: 26px;
}

footer {
  height: 30px;
}

.col-2 .row-1 div, .col-2 .row-3 div {
  display: inline-block;
  width: 68px;
  height: 35px;
  margin-left:1px;
  text-align: center;
}

.col-2 .row-2 div {
  margin-left: 1px;
}

.col-2 .row-2 div div {
  display: inline-block;
  width: 68px;
  height: 68px;
}

.col-2 .row-1, .col-2 .row-3 {
  margin-left: 2px;
}

.button-bank {
  margin-left: 250px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  width: 35px;
  height: 20px;
  background: #999;
  background-image: linear-gradient(to bottom right, #aaa, #ddd);
  border-radius: 3px;
}

.btn:hover {
  background-image: linear-gradient(to bottom right, #aaa, #666);
}

/* position numbers in rank and file vertically */
.main-container [class*='col-']:nth-child(2n-1) .row-2 div {
  padding-top: 24px;
}

/* position letters in rank and file vertically */
.main-container .col-2 .row-1 div {
  padding-top: 10px;
}

/* position letters in rank and file vertically */
.main-container .col-2 .row-3 div {
  margin-top: -7px;
}

/* position numbers in rank and file horizontally */
.col-1 .row-2 div {
  height: 68px;
  text-align: right;
  padding-right: 15px;
}

/* position numbers in rank and file horizontally */
.col-3 .row-2 div {
  height: 68px;
  padding-left: 10px;
}

.game-container [class*='game-row-'] div {
    padding: 15px;
    background: #efefef;
    text-align: center;
    font-size: 35px;
    vertical-align: top;   /*  keeps game space <div> aligned against top of container regardless of content */
}

/* color every other game board space black in odd rows */
.game-container [class*='game-row-']:nth-child(2n-1) div:nth-child(2n) {
  background: #888;
}

/* color every other game board space black in even rows */
.game-container [class*='game-row-']:nth-child(2n) div:nth-child(2n-1) {
  background: #888;
}
